@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: Roboto;
  }

  body {
    background-color: #3A3541;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  h1 {
    color: #FFF !important;
  }

  }

  .badge-sm {
    height: 19px !important;
    font-size: .75rem;
    width: 19px !important;
    line-height: 1rem;
    background-color: #AB7E02;
    padding-left: 0.438rem;
    padding-right: 0.438rem;
    border: none;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}